<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @images.each_with_index do |image, index| %>
        <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
    <% end %>

  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <% @images.each_with_index do |image, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <% o = [('a'..'z'), ('A'..'Z')].map(&:to_a).flatten
             string = (0...50).map { o[rand(o.length)] }.join %>
          <!-- Set the second background image using inline CSS below. -->
          <div class="fill" style="background-image:url('<%= image + "?#{string}" %>');background-size: 640px 480px;background-repeat: no-repeat;">
          </div>
          <div class="carousel-caption">
          </div>
        </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>

</header>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
</script>