<div class="container">
  <%= form_for(@population) do |f| %>
      <% if @population.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@population.errors.count, "error") %> prohibited this population from being saved:</h2>

            <ul>
              <% @population.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div id="attributes" <% unless @population.errors.any? %> style="display: none;" <% end %> >
        <div class="form-group">
          <%= f.label :zone, :for => 'population_zone' %> <span class="required">*</span>
          <%= f.text_field :zone, :class => 'form-control' %>
          <small class="required"><%= I18n.t(:field_required) %></small>
        </div>

        <div class="form-group">
          <%= f.label :y1993, :for => 'population_y1993' %>
          <%= f.number_field :y1993, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :y2005, :for => 'population_y2005' %>
          <%= f.number_field :y2005, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :y2010, :for => 'population_y2010' %>
          <%= f.number_field :y2010, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :y2015, :for => 'population_y2015' %>
          <%= f.number_field :y2015, :class => 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit :class => 'btn btn-primary', :onclick => "validate_form( '#{escape_javascript populations_validate_path(:format => 'js')}' ); return false" %>
          <%= f.button  I18n.t(:label_cancel), :class => 'btn btn-primary', :onclick => 'return show_form()'  %>
        </div>

      </div>


      <div class="actions" id="show-button" <% if @population.errors.any? %> style="display: none;" <% end %>>
        <%= f.button :class => 'btn btn-primary', :onclick => 'return show_form()' %>
      </div>
  <% end %>
</div>

