<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container-chart" style="width: 100%; margin: 0 auto"></div>

<script type="text/javascript" charset="utf-8">
    Highcharts.chart('container-chart', {
        title: {
            text: ''
        },
        xAxis: {
            categories: ['1993', '2005', '2010', '2015'],
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: '<%= I18n.t(:field_population) %>'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        series: [
            <% @populations.each do |population| %>
            {
                name: '<%= population.zone ? population.zone : 'Unnamed Zone' %>',
                data: [<%= population.y1993 ? population.y1993 : 0 %>, <%=  population.y2005 ? population.y2005 : 0  %>, <%= population.y2010 ? population.y2010 : 0 %>, <%= population.y2015 ? population.y2015 : 0 %>]
            },
            <% end %>
        ]

    });

</script>