<div class="container" id="table-population">
  <div id="form-container">
    <%= render partial: 'form' %>
  </div>
  <table id="example" class="display table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th><%= I18n.t(:field_zone) %></th>
      <th><%= I18n.t(:field_y1993) %></th>
      <th><%= I18n.t(:field_y2005) %></th>
      <th><%= I18n.t(:field_y2010) %></th>
      <th><%= I18n.t(:field_y2015) %></th>
      <th><%= I18n.t(:field_created_at) %></th>
      <th><%= I18n.t(:field_updated_at) %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th><%= I18n.t(:field_zone) %></th>
      <th><%= I18n.t(:field_y1993) %></th>
      <th><%= I18n.t(:field_y2005) %></th>
      <th><%= I18n.t(:field_y2010) %></th>
      <th><%= I18n.t(:field_y2015) %></th>
      <th><%= I18n.t(:field_created_at) %></th>
      <th><%= I18n.t(:field_updated_at) %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @populations.each do |population| %>
        <tr>
          <td><%= population.zone %></td>
          <td><%= population.y1993 %></td>
          <td><%= population.y2005 %></td>
          <td><%= population.y2010 %></td>
          <td><%= population.y2015 %></td>
          <td><%= population.created_at.to_s %></td>
          <td><%= population.updated_at.to_s %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>