
<!-- jQuery -->
<script src="https://blackrockdigital.github.io/startbootstrap-full-slider/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-full-slider/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-freelancer/js/freelancer.min.js"></script>

<header>
  <div class="container" style="padding-top: 50px !important">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name"><%= @about %></span>
          <hr class="star-light">
          <div id="highchart-container">
            <%= render partial: 'highchart' %>
          </div>
          <a style="color: #ffffff !important" target="_blank" href="<%= @source %>" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<hr>

<div id="list-container">
  <%= render partial: 'list' %>
</div>

<hr>

<!-- Full Page Image Background Carousel Header -->
<%= render partial: 'carousel' %>


