<p id="notice"><%= notice %></p>

<p>
  <strong>Zone:</strong>
  <%= @population.zone %>
</p>

<p>
  <strong>Y1993:</strong>
  <%= @population.y1993 %>
</p>

<p>
  <strong>Y2005:</strong>
  <%= @population.y2005 %>
</p>

<p>
  <strong>Y2010:</strong>
  <%= @population.y2010 %>
</p>

<p>
  <strong>Y2015:</strong>
  <%= @population.y2015 %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @population.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @population.updated_at %>
</p>

<%= link_to 'Edit', edit_population_path(@population) %> |
<%= link_to 'Back', populations_path %>
