<% if @saved %>
$('div#list-container').empty();
$('div#list-container').append('<%= escape_javascript(render :partial => 'list') %>');
if($("#container-chart").highcharts()) $("#container-chart").highcharts().destroy();
$('div#highchart-container').empty();
$('div#highchart-container').append('<%= escape_javascript(render :partial => 'highchart') %>');
<% else %>
$('div#form-container').empty();
$('div#form-container').append('<%= escape_javascript(render :partial => 'form') %>');
<% end %>